@model TestingModel.Testing_Model

@{
    ViewBag.Title = "Testingindex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-inverse">
    <div class="panel-heading" style="text-align: center;">
        <h4 class="panel-title">CKM</h4>
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <table id="tblLanguage" class="table table-striped reducepadding table-bordered table-td-valign-middle" style="width:100%">
            <thead>
                <tr>
                    <th style="width:20%"></th>
                    <th style="width:20%">CompanyID</th>
                    <th style="width:30%">CompanyName</th>
                    <th style="width:30%">Description</th>
                    <th style="width:30%">Date</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


