@model TestingModel.Testing_Model

@{
    ViewBag.Title = "TestingList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="panel panel-inverse">
    <div class="panel-body">
        <table id="tbTesting" class="table table-striped reducepadding table-bordered table-td-valign-middle" style="width:100%">
            <thead>
                <tr>
                    <th style="width:30%">ID</th>
                    <th style="width:30%">Title</th>
                    <th style="width:20%">Description</th>
                    <th style="width:30%">UpdatedDate</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


 @section Scripts
{
        <script type="text/javascript">
            $(document).ready(function () {
                var a = {
                    ID:'',
                };
                var response = CalltoApiController('@Url.Action("GetData", "api/TestingAPI")', a);
                alert(response);
               
                var TestingInfo = {
                    ID: "08",
                    Title: "CKM1",
                    Description: "CKM",
                    Mode: "Insert"
                }; 

                if (TestingInfo.Mode == 'Insert' || TestingInfo.Mode == 'Update' || TestingInfo.Mode == 'Delete') {
                    if (TestingInfo.Mode == 'Insert') {
                        var i = {
                            ID: TestingInfo.ID,
                        }
                        var res = CalltoApiController('@Url.Action("GetData", "api/TestingAPI")', i);
                        var data = JSON.parse(res);
                        if (data.length > 0) {
                            if (data[0]["ID"] == TestingInfo.ID) {
                                alert("DataExit");
                            }
                        }
                        else {
                            var j = {
                                ID: TestingInfo.ID,
                                Title: TestingInfo.Title,
                                Description: TestingInfo.Description,
                                Mode: TestingInfo.Mode
                            };
                            var res1 = CalltoApiController('@Url.Action("TestingCUD", "api/TestingAPI")', j);
                            alert(res1);
                        }
                    }
                    else {
                        var result = CalltoApiController('@Url.Action("TestingCUD", "api/TestingAPI")', TestingInfo);
                        alert(result);
                    }
                        
                }    
                else {
                    alert("No Mode");
                }
                
            });

        </script>
}

